html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

a {
  color: #3e546e;
}

a:hover {
  color: #2a3948;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  background-color: #fff;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 50px;
}

.header__inner {
  display: flex;
}

.header__title {
  width: 200px;
  margin: 0 0 0 16px;
  color: #0e1724;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.header__copy {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1rem;
}

.header__author {
  margin-left: 4px;
  text-decoration: none;
}

.header__author:hover {
  text-decoration: underline;
}

/* content */
.content {
  display: flex;
  padding: 4rem 1.875rem;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* sidebar */
.sidebar {
  width: 260px;
  margin-right: 4rem;
  flex: 0 0 auto;
}

.sidebar__title {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.125rem;
  color: #0e1724;
}

/* nav */
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style-type: none;
}

.nav__item--toggle,
.nav__checkbox {
  /* mobile only */
  display: none;
}

.nav__checkbox {
  position: relative;
  width: 100%;
  height: 2.5rem;
  opacity: 0;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.nav__checkbox:hover + .nav .nav__item--toggle {
  text-decoration: underline;
}

.nav__checkbox:focus + .nav .nav__item--toggle {
  background: #f1f1f1;
}

.nav__checkbox + .nav .nav__item--toggle > .nav__link::before {
  content: "Expand all";
}

.nav__checkbox:checked + .nav .nav__item--toggle > .nav__link::before {
  content: "Collapse all";
}

.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #4b4b4e;
  outline: none;
  text-decoration: none;
}

.nav__item--active .nav__link {
  background: #e2e2e2;
}

.nav__item:not(.nav__item--active) .nav__link:hover {
  text-decoration: underline;
}

.nav__item:not(.nav__item--active) .nav__link:focus {
  background: #f1f1f1;
}

.nav__item--active .nav__link::after {
  background-color: #999;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px;
}

/* main */
.main__title {
  margin: 0 0 1rem;
  font-size: 3rem;
  line-height: 3.375rem;
  color: #0e1724;
}

.main__description {
  color: #4b4b4e;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 1.125rem 0;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.main__content {
  max-width: 56.25rem;
  color: #4b4b4e;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.main__date {
  margin: 0;
  font-size: 1rem;
}

/* item */
.item {
  display: block;
  height: 100%;
  padding: 2rem;
  border: 2px solid #cbcbcd;
  border-radius: 0.75rem;
  background-color: #fff;
  transition: box-shadow 400ms ease;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  outline: none;
}

.item:hover {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.16);
}

.item:focus {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.32);
}

.item__thumbnail {
  display: block;
  width: 4.75rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: solid 1px #cbcbcd;
}

.item__title {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.125rem;
  color: #0e1724;
}

.item__quote {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4b4b4e;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/* header */
.footer {
  padding: 1rem 0;
  line-height: 1.5rem;
}

.footer--catalog > .container {
  padding-left: 2rem;
}

@media screen and (max-width: 1140px) {
  .header {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .content {
    padding: 1.25rem 0;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.875rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid #dbdde6;
  }

  .sidebar__title {
    margin: 0 0 1rem;
  }

  .nav__item--toggle,
  .nav__checkbox {
    display: block;
  }

  .nav {
    margin-top: -2.5rem;
  }

  .nav__item:not(.nav__item--active):not(.nav__item--toggle) {
    display: none;
  }

  .nav__checkbox:checked + .nav .nav__item:not(.nav__item--active):not(.nav__item--toggle) {
    display: block;
  }

  .nav__link {
    height: 2.5rem;
  }

  .main {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .main__grid {
    grid-template-columns: 1fr 1fr;
  }

  .item {
    padding: 1.5rem;
  }

  .footer > .container {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__copy {
    margin: 1rem 0 0;
  }

  .main__grid {
    grid-template-columns: 1fr;
  }

  .footer > .container {
    padding: 0 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sidebar {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #dbdde6;
  }

  .sidebar,
  .main {
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__grid {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .item {
    padding: 1.25rem;
  }
}
