html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Color theme */
  --body-color: #666;
  --header-background: #fff;
  --main-background: #fafafa;
  --link-default-color: #3e546e;
  --link-hover-color: #2a3948;
  --title-color: #0e1724;
  --nav-link-color: #4b4b4e;
  --nav-link-active-background: #e2e2e2;
  --nav-link-active-border-color: #999;
  --nav-link-focus-background: #f1f1f1;
  --content-color: #4b4b4e;
  --item-background: #fff;
  --item-thumbnail-background: #fafafa;
  --item-hover-shadow-color: rgba(0, 0, 0, 0.16);
  --item-focus-shadow-color: rgba(0, 0, 0, 0.32);
  --item-border-color: #cbcbcd;
  --sidebar-border-color: #dbdde6;
  --footer-color: #666;
}

@media (prefers-color-scheme: dark) {
  html {
    --header-background: #0e1724;
    --main-background: #2a3948;
    --title-color: #f1f1f1;
    --link-default-color: #7cc7e2;
    --link-hover-color: #8ce2ff;
    --content-color: #e2e2e2;
    --item-background: #142133;
    --item-hover-shadow-color: rgba(255, 255, 255, 0.32);
    --item-focus-shadow-color: rgba(255, 255, 255, 0.48);
    --sidebar-border-color: #4b4b4e;
    --nav-link-color: #e0f0f6;
    --nav-link-active-background: #3e546e;
    --nav-link-active-border-color: #476180;
    --nav-link-focus-background: #33465c;
    --item-border-color: #33465c;
    --footer-color: #dbdde6;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--body-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

a {
  color: var(--link-default-color);
}

a:hover {
  color: var(--link-hover-color);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  background-color: var(--header-background);
}

.header__home {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 50px;
}

.header__inner {
  display: flex;
}

.header__title {
  width: 200px;
  margin: 0 0 0 16px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.header__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--content-color);
}

.header__link {
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

/* corner */
.github-corner svg {
  width: 80px;
  height: 80px;
  fill: var(--title-color);
  color: var(--header-background);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

/* content */
.content {
  display: flex;
  padding: 4rem 1.875rem;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* sidebar */
.sidebar {
  width: 260px;
  margin-right: 4rem;
  flex: 0 0 auto;
}

/* nav */
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style-type: none;
}

.nav__item--toggle,
.nav__checkbox {
  /* mobile only */
  display: none;
}

.nav__checkbox {
  position: relative;
  width: 100%;
  height: 2.5rem;
  opacity: 0;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.nav__checkbox:hover + .nav .nav__item--toggle {
  text-decoration: underline;
}

.nav__checkbox:focus + .nav .nav__item--toggle {
  background: var(--nav-link-focus-background);
}

.nav__checkbox + .nav .nav__item--toggle > .nav__link::before {
  content: "Expand all";
}

.nav__checkbox:checked + .nav .nav__item--toggle > .nav__link::before {
  content: "Collapse all";
}

.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--nav-link-color);
  outline: none;
  text-decoration: none;
}

.nav__item--active .nav__link {
  background: var(--nav-link-active-background);
}

.nav__item:not(.nav__item--active) .nav__link:hover {
  text-decoration: underline;
}

.nav__item:not(.nav__item--active) .nav__link:focus {
  background: var(--nav-link-focus-background);
}

.nav__item--active .nav__link::after {
  background-color: var(--nav-link-active-border-color);
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px;
}

/* main */
.main__title {
  margin: 0 0 1rem;
  font-size: 3rem;
  line-height: 3.375rem;
  color: var(--title-color);
}

.main__description {
  color: var(--content-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 1.125rem 0;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.main__content {
  max-width: 56.25rem;
  color: var(--content-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.main__date {
  margin: 0;
  font-size: 1rem;
}

.main__contribute {
  display: block;
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

/* item */
.item {
  display: block;
  height: 100%;
  padding: 2rem;
  border: 2px solid var(--item-border-color);
  border-radius: 0.75rem;
  background-color: var(--item-background);
  transition: box-shadow 400ms ease;
  text-decoration: none;
  outline: none;
}

.item:hover {
  box-shadow: 0 10px 30px -10px var(--item-hover-shadow-color);
}

.item:focus {
  box-shadow: 0 10px 30px -10px var(--item-focus-shadow-color);
}

.item__thumbnail {
  display: block;
  width: 4.8125rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--item-thumbnail-background);
  border: solid 1px var(--item-border-color);
}

.item__title {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.125rem;
  color: var(--title-color);
}

.item__quote {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--content-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/* footer */
.footer {
  padding: 1rem 0;
  line-height: 1.5rem;
  color: var(--footer-color);
}

.footer--catalog > .container {
  padding-left: 2rem;
}

@media screen and (max-width: 1280px) {
  .header__copy {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1140px) {
  .header {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .content {
    padding: 1.25rem 0;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.875rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--sidebar-border-color);
  }

  .nav__item--toggle,
  .nav__checkbox {
    display: block;
  }

  .nav {
    margin-top: -2.5rem;
  }

  .nav__item:not(.nav__item--active):not(.nav__item--toggle) {
    display: none;
  }

  .nav__checkbox:checked + .nav .nav__item:not(.nav__item--active):not(.nav__item--toggle) {
    display: block;
  }

  .nav__link {
    height: 2.5rem;
  }

  .main {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .main__grid {
    grid-template-columns: 1fr 1fr;
  }

  .item {
    padding: 1.5rem;
  }

  .footer > .container {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__copy {
    margin: 1rem 0 0;
    align-items: center;
  }

  .main__grid {
    grid-template-columns: 1fr;
  }

  .footer > .container {
    padding: 0 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .github-corner svg {
    width: 60px;
    height: 60px;
  }

  .sidebar {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--sidebar-border-color);
  }

  .sidebar,
  .main {
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__grid {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .item {
    padding: 1.25rem;
  }
}
