html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 50px;
}

.header__inner {
  display: flex;
}

.header__title {
  width: 200px;
  margin: 0 0 0 16px;
  color: #0e1724;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.header__copy {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1rem;
}

.header__author {
  margin-left: 4px;
  color: #0e1724;
  text-decoration: none;
}

.header__author:hover {
  text-decoration: underline;
}

/* content */
.content {
  display: flex;
  padding: 64px 30px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* sidebar */
.sidebar {
  width: 260px;
  margin-right: 64px;
  flex: 0 0 auto;
}

.sidebar__title {
  margin: 0 0 24px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 34px;
  color: #0e1724;
}

/* nav */
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 56px;
  padding-left: 32px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: #4b4b4e;
  outline: none;
  text-decoration: none;
}

.nav__link:not(.nav__link--active):hover {
  text-decoration: underline;
}

.nav__link:not(.nav__link--active):focus {
  background: #f1f1f1;
}

.nav__link.nav__link--active {
  background: #e2e2e2;
}

.nav__link.nav__link--active::after {
  background-color: #999;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px;
}

/* main */
.main__title {
  margin: 0 0 16px;
  font-size: 3rem;
  line-height: 54px;
  color: #0e1724;
}

.main__description {
  color: #4b4b4e;
  font-weight: 400;
  font-size: 1.125rem;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 24px;
  margin-bottom: 30px;
}

/* item */
.item {
  display: block;
  height: 100%;
  padding: 32px;
  border: 2px solid #cbcbcd;
  border-radius: 12px;
  background-color: #fff;
  transition: box-shadow 400ms ease;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  outline: none;
}

.item:hover {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.16);
}

.item:focus {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.32);
}

.item__thumbnail {
  display: block;
  width: 76px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: solid 1px #cbcbcd;
}

.item__title {
  margin: 0 0 16px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  color: #0e1724;
}

.item__quote {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4b4b4e;
  font-weight: 400;
  font-size: 1.125rem;
}

@media screen and (max-width: 1140px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }

  .content {
    padding: 20px 0;
  }

  .content__wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid #dbdde6;
  }

  .sidebar__title {
    margin: 0 0 16px;
  }

  .nav__link {
    height: 40px;
  }

  .main {
    padding-right: 24px;
    padding-left: 24px;
  }

  .main__grid {
    grid-template-columns: 1fr 1fr;
  }

  .item {
    padding: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__copy {
    margin: 16px 0 0;
  }

  .main__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .sidebar {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #dbdde6;
  }

  .main {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__grid {
    margin-bottom: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .item {
    padding: 20px;
  }
}
