<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#2a3948">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="/img/favicon/og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="header__link" href="/">
            <img class="header__logo" src="/img/logo.png" alt="logo">
            <h1 class="header__title">{{ metadata.title }}</h1>
          </a>
          <div class="header__copy">
            Curated by <a rel="me" class="header__author" href="https://fosstodon.org/@kulykov" target="_blank">@kulykov@fosstodon.org</a>
          </div>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="container">
        <div class="content__wrapper">
          {%- if items %}
          <aside class="sidebar">
            <div class="sidebar__wrapper">
              <h3 class="sidebar__title">Categories</h3>
              {%- set navPages = collections.all | eleventyNavigation %}
              <ul class="nav">
              {%- for entry in navPages %}
                <li class="nav__item">
                  <a class="nav__link{% if entry.url == page.url %} nav__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {%- endfor %}
              </ul>
            </div>
          </aside>
          {%- endif %}
          <main class="main">
          {%- if header %}
            <h2 class="main__title">{{ header }}</h2>
            {%- if description %}<p class="main__description">{{ description }}</p>{% endif %}
            {%- if date %}<p class="main__date">{{ date }}</p>{% endif %}
          {%- endif %}
          {%- if items %}
            <div class="main__grid">
            {%- for item in items %}
              <a href="{{ item.url }}" class="item" target="_blank">
                <img class="item__thumbnail" src="/img/{{ item.thumbnail }}" alt="">
                <h3 class="item__title">{{ item.title }}</h3>
                <p class="item__quote">
                  {{ item.quote }}
                </p>
              </a>
            {% endfor -%}
            </div>
          {%- endif %}
            <div class="main__content">{{ content | safe }}</div>
          </main>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        © 2022 Serhii Kulykov. All the logos and trademarks are properties of their respective owners.
      </div>
    </footer>
  </body>
</html>
