<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <div class="section navbar">
      <div class="container">
        <div class="navbar-inner">
          <a class="navbar-logo-wrap" href="/">
            <img class="navbar-logo" src="/img/webcomponents.png" alt="logo">
          </a>
          <h1 class="navbar-title">Web Components bookmarks</h1>
        </div>
      </div>
    </div>

    <div class="section content">
      <div class="container">
        <div class="content-wrap">
          <div class="sidebar">
            <div class="sidebar-wrap">
              <h3 class="sidebar-title">Categories</h3>
              {% set navPages = collections.all | eleventyNavigation %}
              <ul class="sidebar-nav">
              {%- for entry in navPages %}
                <li class="sidebar-item">
                  <a class="sidebar-link {% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {%- endfor %}
              </ul>
            </div>
          </div>
          <div class="tools-wrap">
            {{ content | safe }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
